<div class="jumbotron jumbotron-1">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h1 class="display-3">{{ .Site.Params.description }}</h1>
        <p class="lead py-4">
          ขอเชิญร่วมบริจาคคอมพิวเตอร์ และอุปกรณ์ไอที เพื่อส่งต่อให้น้องๆ ในชนบท
          สานฝันการศึกษา ในโรงเรียนที่ขาดแคลน
        </p>
        <p class="lead">
          <a
            class="btn btn-success btn-lg px-5 mt-4"
            href="{{ `/get-involved` | relURL }}"
            role="button"
          >
            ต้องการบริจาค
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
