$font-family-base: 'Kanit';

$navbar-height: 4.5rem;
$nav-link-padding-x: 1rem !important;
$enable-responsive-font-sizes: true;

$display1-size: 5.5rem;
$display2-size: 4.5rem;
$display3-size: 3.5rem;
$display4-size: 3rem;
