.entry-wrap {
  padding-top: 5rem;
  @include media-breakpoint-down(md) {
    padding-top: 3rem;
  }
}

.entry-title {
  position: relative;
  padding-bottom: 24px;
  font-size: 2.5rem;
  font-weight: 400;
  color: $dark;

  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background: $primary;
  }
}

.entry-content {
  color: $gray-600;
  h1,
  h2,
  h3,
  h4 {
    color: $primary;
  }
}
