footer {
  font-size: 0.9rem;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  li {
    margin-top: 0.4rem;
  }
  p,
  li,
  span {
    line-height: 1.5rem;
  }
}
