.site-branding {
  width: calc(100% - 24px);

  @include media-breakpoint-up(lg) {
    width: auto;
  }

  a {
    text-decoration: none;
  }
}

.hamburger-menu {
  position: relative;
  width: 24px;
  height: 22px;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $dark;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transition: 0.25s ease-in-out;
    &:nth-child(1) {
      top: 2px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }
    &:nth-child(4) {
      top: 18px;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: 18px;
        width: 0;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0;
        left: 50%;
      }
    }
  }
}

.site-navigation {
  ul {
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
    width: 320px;
    max-width: calc(100% - 120px);
    height: 100%;
    padding: 30px 15px;
    margin: 0;
    background: $light;
    list-style: none;
    overflow-x: scroll;
    transition: all 0.35s;

    @include media-breakpoint-up(lg) {
      position: relative;
      top: auto;
      left: auto;
      width: 100%;
      max-width: 100%;
      height: auto;
      padding: 0;
      overflow: auto;
      background: transparent;
    }

    li {
      margin: 0 0.8rem;
      a {
        display: block;
        padding: 1rem 0;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1;
        color: $dark;
        text-decoration: none;
        transition: color 0.35s;
        border-bottom: 3px solid transparent;
      }
      a:hover,
      &.current-menu-item a {
        border-bottom: 3px solid $primary;
        color: $primary;
      }
    }
  }

  &.show {
    ul {
      left: 0;
    }
  }
}
