<div class="container mb-3 mt-5">
  <h2 class="display-3 text-center my-5">ติดต่อเรา</h2>
  <div class="row">
    <div class="col-md-8 offset-md-2 mb-3">
      <p class="lead">
        ท่านสามารถติดต่อเราผ่านทาง
        <a
          href="{{ .Site.Params.contact.facebook }}"
          style="color: #3b5998;"
          target="_blank"
        >
          <i class="fab fa-facebook-square"></i> Facebook
        </a>
        หรือส่งข้อความ
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form
        class="needs-validation"
        novalidate
        action="https://formspree.io/{{ .Site.Params.contact.email }}"
        method="POST"
      >
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name">ชื่อ</label>
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="ชื่อ - นามสกุล"
              required
            />
            <div class="invalid-feedback">กรุณาระบุชื่อ</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email">อีเมล</label>
            <input
              type="text"
              class="form-control"
              name="email"
              placeholder="ชื่อ@โดเมน.com"
              required
            />
            <div class="invalid-feedback">กรุณาระบุอีเมล</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="message">ข้อความ</label>
          <textarea
            class="form-control"
            name="message"
            placeholder="ข้อความของคุณ"
            required
          ></textarea>
          <div class="invalid-feedback">กรุณาระบุข้อความของคุณ</div>
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-lg mt-3 float-right px-5"
        >
          ส่งข้อความ
        </button>
      </form>
    </div>
  </div>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3211.7838718344888!2d100.46248098470832!3d13.77695466705847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29bc27eee7045%3A0x810bef61d0a1ea65!2z4Lia4Lij4Li04Lip4Lix4LiXIOC4hOC4peC4seC4quC5gOC4leC4reC4o-C5jOC4hOC4tOC4lyDguIjguLPguIHguLHguJQ!5e0!3m2!1sen!2sth!4v1561020125131!5m2!1sen!2sth"
  width="100%"
  frameborder="0"
  class="map my-5"
  allowfullscreen
></iframe>
