<div class="row convince-section no-gutters">
  <div class="col get-involved">
    <h3>ฉันอยากแบ่งปัน</h3>
    <p class="my-4">
      ไม่ว่าจะเป็นคอมพิวเตอร์ตั้งโต๊ะหรือคอมพิวเตอร์โน๊ตบุ๊ค ชิ้นส่วนอะไหล่ต่างๆ
      รวมไปถึงอุปกรณ์เน็ตเวิร์ค ถ้าหากยังสามารถใช้งานได้อยู่กรุณาติดต่อพวกเรา
    </p>
    <a
      class="btn btn-outline-light"
      href="{{ `/get-involved` | relURL }}"
      role="button"
    >
      ฉันมีคอมพิวเตอร์
    </a>
  </div>
  <div class="col-md-4 d-xl-block d-md-none d-sm-block">
    <img
      src="{{ `images/main/happy-2.jpg` | relURL }}"
      class="img-fluid"
      alt="happy student"
    />
  </div>
  <div class="col request-for-donation">
    <h3>พวกเรากำลังขาดแคลน</h3>
    <p class="my-4">
      ถ้าหากโรงเรียนของท่านกำลังขาดแคลนคอมพิวเตอร์เพื่อใช้สำหรับการเรียนการสอน
      กรุณาติดต่อพวกเรา
    </p>
    <a
      class="btn btn-outline-dark"
      href="{{ `/get-involved` | relURL }}"
      role="button"
    >
      ขอรับการช่วยเหลือ
    </a>
  </div>
</div>
