<footer class="container pt-2 mb-md-4 mt-5 pt-md-3">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-5">
      <h5>{{ .Site.Params.description }}</h5>
      <ul class="list-unstyled text-small">
        <li class="text-muted">
          {{ .Site.Params.contact.address | markdownify }}
        </li>
        <li class="text-muted my-2">
          <a href="callto:{{ replace .Site.Params.contact.phone ` ` `` }}">
            <span>
              <i class="fas fa-phone mr-2"></i>
              {{ .Site.Params.contact.phone }}
            </span>
          </a>
        </li>
        <li class="text-muted my-2">
          <a href="mailto:{{ .Site.Params.contact.email }}">
            <span>
              <i class="fas fa-envelope mr-2"></i>
              {{ .Site.Params.contact.email }}
            </span>
          </a>
        </li>
        <li class="text-muted my-2">
          <a href="{{ .Site.Params.contact.facebook }}" target="_blank">
            <span>
              <i class="fab fa-facebook-square mr-2"></i>
              {{ .Site.Title }}
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-md">
      <h5>{{ .Site.Title }}</h5>
      <ul class="list-unstyled text-small">
        {{ range.Site.Menus.main }}
        <li>
          <a class="text-muted" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-md">
      <h5>บริการสารสนเทศ</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a
            class="text-muted"
            href="http://www.clusterkit.co.th/pdf/ZorinOS.pdf"
            target="_blank"
          >
            Zorin OS Education
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12 border-top mt-3">
      <small class="d-block text-muted my-4">
        Copyright &copy; 2007-{{ now.Year }} {{ .Site.Title }} All rights
        reserved.
      </small>
    </div>
  </div>
</footer>
