{{ define "content" }}
<div class="about-us">
  {{ partial "page-header" . }}
  <div class="welcome-wrap">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
          <div class="welcome-content">
            <header class="entry-header">
              <h2 class="entry-title">ยินดีต้อนรับสู่โครงการของเรา</h2>
            </header>
            <div class="entry-content mt-5">
              {{ .Content }}
            </div>
            <!-- .entry-content -->

            <div class="entry-footer mt-5">
              <a href="#" class="btn gradient-bg mr-2">Read More</a>
            </div>
            <!-- .entry-footer -->
          </div>
          <!-- .welcome-content -->
        </div>
        <!-- .col -->

        <div class="col-12 col-lg-6 order-1 order-lg-2">
          <img src="images/welcome.jpg" alt="welcome" />
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </div>
  <!-- .home-page-icon-boxes -->
</div>
{{ end }}
