{{ define "content" }}
<div class="request-for-donation">
  {{ partial "page-header" . }}
  <div class="container entry-wrap">
    <div class="row">
      <div class="col-12">
        <h2 class="entry-title">วิธีการขอรับบริจาค</h2>
        <div class="col-md-8 offset-md-2">
          <img
            src="{{ `images/request-for-donation.jpg` | relURL }}"
            class="img-fluid w-100 mt-5"
            alt="about us"
          />
        </div>
        <div class="col-md-8 offset-md-2 entry-content mt-4">
          {{ .Content }}
        </div>
        <div class="text-center mt-4">
          <a
            href="{{ `request-for-donation/request-form/#form` | relURL }}"
            class="btn btn-primary px-4"
          >
            ฉันอ่านแล้ว
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
