<div class="top-header-bar">
  <div class="container">
    <div
      class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center"
    >
      <div
        class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0"
      >
        <div class="header-bar-email">
          อีเมล์: <a href="#">{{ .Site.Params.contact.email }}</a>
        </div>
        <div class="header-bar-text">
          <p>โทรศัพท์: <span>{{ .Site.Params.contact.phone }}</span></p>
        </div>
      </div>
      <div
        class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center"
      >
        <div class="donate-btn mr-3">
          <a href="#">ต้องการบริจาค</a>
        </div>
        <div class="donate-btn need-btn">
          <a href="#">ขอรับบริจาค</a>
        </div>
      </div>
    </div>
  </div>
</div>
