<div class="top-header-bar">
  <div class="container">
    <div
      class="row flex-wrap justify-content-center justify-content-xl-between align-items-xl-center"
    >
      <div
        class="col-12 col-xl-6 d-none d-md-flex flex-wrap justify-content-center justify-content-xl-start mb-0"
      >
        <div class="header-bar-email">
          อีเมล์: <a href="#">{{ .Site.Params.contact.email }}</a>
        </div>
        <div class="header-bar-text">
          โทรศัพท์: <span>{{ .Site.Params.contact.phone }}</span>
        </div>
      </div>
      <div
        class="col-12 col-xl-6 d-flex justify-content-center justify-content-xl-end align-items-center"
      >
        <div class="donate-btn mr-3">
          <a href="{{ `/get-involved` | relURL }}">ต้องการบริจาค</a>
        </div>
        <div class="donate-btn need-btn">
          <a href="{{ `/request-for-donation` | relURL }}">ขอรับบริจาค</a>
        </div>
      </div>
    </div>
  </div>
</div>
