<div class="nav-bar">
  <div class="container">
    <div class="row">
      <div
        class="col-12 d-flex flex-wrap justify-content-between align-items-center"
      >
        <div class="site-branding d-flex align-items-center">
          <a class="d-block" href="{{ `/` | relURL }}" rel="home">
            <div class="logo">
              <p class="title">{{ .Site.Title }}</p>
              <p class="description">{{ .Site.Params.description }}</p>
            </div>
          </a>
        </div>
        <nav
          class="site-navigation d-flex justify-content-end align-items-center"
        >
          <ul
            class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center"
          >
            {{ $currentPage := . }}
            {{ range.Site.Menus.main }}
            <li
              class="{{ if $currentPage.IsMenuCurrent `main` . }}current-menu-item{{ end }}"
            >
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </nav>
        <div class="hamburger-menu d-lg-none">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>
